<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Elena Churilova's Personal Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.ico" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
       
      </ul>
    </nav>
    <!-- .nav-menu -->

  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Elena Churilova</h1>
      <p>I'm <span class="typed" data-typed-items="a Software Engineer, a Technical PM, a Surfer"></span></p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/elenachurilova/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/elenachurilova" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://medium.com/@ellena.churilova" class="medium"><i class="bx bxl-medium"></i></a>
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="static/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>MOST PROUD OF</h3>
            <p class="font-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-12">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Starting</strong> my life over again after moving to the United States without friends, family or connections to follow my dream of becoming a self-made woman; mastering my English skills to levels that allow me to live a full and limitless life in a new country and a new arena</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Leading</strong> and delivering dozens of successful projects, across different industries and teams — including Tech, Pharma, Events and Retail; by turning ideas into action, making things happen and sharing my energy with others</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Teaching</strong> English as a second language to middle school girls in Russia and helping them navigate the modern technology world as a career path </li>
                </ul>

                <div>
                  <h3>MY LIFE PHILOSOPHY</h3>
                  <p class="font-italic quote"><strong>Doubt kills more dreams than failure ever will. Keep, keep trying.</strong></p>
                  <p class="author">— Suzy Kassem</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>BY THE NUMBERS</h2>
          <p>My career path, coming through Technical Project and Product Management, has led me to Software Engineering <br>where I bring value of a PM that knows how things are build and able to build them. At a glance, my journey looks as follows</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-code"></i>
              <span data-toggle="counter-up">3</span>
              <p>years of<br>technology <br>experience</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-paperclip"></i>
              <span data-toggle="counter-up">10</span>
              <p>years of <br>professional <br>experience</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">50</span><span>+</span>
              <p>happy <br>clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-paper-plane"></i>
              <span data-toggle="counter-up">300</span><span>+</span>
              <p>completed <br>projects</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p></p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL (PostgreSQL) <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML5, CSS3 <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Javascript <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">jQuery <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">React <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Elena Churilova</h4>
              <p><em>A recent full-stack web developement program graduate who led multiple projects across a variety of teams and industries, with an extensive experience in Technical Project and Product Management is interested in a Software Engineer position</em></p>
              <ul>
                <li>San Francisco, CA or Remote</li>
                <li>ellena.churilova@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Software Engineering</h4>
              <h5>2020</h5>
              <p><em>Hackbright Academy, San Francisco, CA</em></p>
              <p>Accelerated 12-week software engineering program, curriculum includes Python, JavaScript, SQL, HTML/CSS and various libraries and frameworks. </p>
            </div>
            <div class="resume-item">
              <h4>Data Analytics</h4>
              <h5>2019</h5>
              <p><em>General Assembly, San Francisco, CA</em></p>
              <p>Certification program, curriculum includes data mining, cleaning, analysis and tools (SQL, Tableau and MS Excel) </p>
            </div>
            <div class="resume-item">
              <h4>Master of Business Economics</h4>
              <h5>2014 - 2017</h5>
              <p><em>Russian Presidential Academy of National Economy, Moscow, Russia</em></p>
              <p>Thesis: Method for Diagnostics, Assessment, and Analysis of Investment Climate and Investment Risks</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of International Communication</h4>
              <h5>2006 - 2011</h5>
              <p><em>Saint Petersburg State University, Saint Petersburg, Russia</em></p>
              <p>Thesis: Characteristics and Features of the Linguistical World View of English-speaking countries </p>
            </div>

            <h3 class="resume-title">Technologies</h3>
            <div class="resume-item">
              <h4>Languages:</h4> Python | JavaScript (AJAX, JSON) | HTML5, CSS3 | SQL, SQLAlchemy
            </div>
            <div class="resume-item">
              <h4>Frameworks & Libraries:</h4> Flask | React.js | jQuery | Bootstrap | Jinja
            </div>
            <div class="resume-item">
              <h4>Database & Industry Tools:</h4> PostgreSQL | Git | GitHub | Bash | Tableau 
            </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>PROJECT MANAGER</h4>
              <h5>May 2018 - Present</h5>
              <p><em>Super Color Digital, South San Francisco, CA</em></p>
              <ul>
                <li>Developed project roadmaps, budgets, and estimations and coordinated rounds of customer’s approvals</li>
                <li>Prioritized tasks for the production team, tracked progress, and escalated resolutions requests where necessary</li>
                <li>Obtained customer's feedback and developed improvement plans for future iterations</li>
                <p><em class="accomplishment">Increased YoY revenue 32% ($400k) by reducing the number of resolution requests by 50% and developing new QC models</em></p>
              </ul>
            </div>
            <div class="resume-item">
              <h4>TECHNICAL PRODUCT MANAGER</h4>
              <h5>Mar 2016 - June 2017</h5>
              <p><em>Sylogent, Newtown, PA</em></p>
              <ul>
                <li>Collected customer requirements and created design specs for development teams</li>
                <li>Trained customers on new versions of products and created product tutorials</li>
                <li>Curated performance analysis and generated weekly SQL reports for the designated customers</li>
                <p><em class="accomplishment">Reduced the number of support tickets by 67% over the 1st year, by developing a self-service portal with training guidelines</em></p>
              </ul>
            </div>
            <div class="resume-item">
              <h4>TECHNICAL PROJECT MANAGER</h4>
              <h5>Oct 2014 - Mar 2016</h5>
              <p><em>CSSSR, Singapore (remote)</em></p>
              <ul>
                <li>Acted as a liaison between customers and team of developers</li>
                <li>Coordinated development team by dividing tasks into Jira tickets and tracking progress</li>
                <li>Tested websites for cross-platform and pixel-perfect compatibility and tracked bugs</li>
                <p><em class="accomplishment">Increased team’s velocity by 15% by optimizing testing models across platforms (desktop, mobile web, app)</em></p>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Operations and Demand Manager</h4>
              <h5>Sept 2010 - July 2014</h5>
              <p><em>Russian Standard Vodka, St. Petersburg, Russia</em></p>
              <ul>
                <li>Developed product demand plans, based on sales forecast, business trends, and demand patterns</li>
                <li>Communicated demand forecasts to several international suppliers and supported import operations</li>
                <li>Analyzed operational risks and designed mitigation activities</li>
                <p><em class="accomplishment">Started an initiative to help reduce the overstock inventory that saved over $100K in the first year by promoting cash flow and releasing warehouse areas.</em></p>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-fullstack">Full-Stack</li>
              <li data-filter=".filter-stateless">Stateless</li>
              <li data-filter=".filter-data">Data Analysis</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <!-- ======= Gastronotes  ======= -->
          <div class="col-lg-12 col-md-12 portfolio-item filter-fullstack">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 portfolio-wrap">
                <div class="portfolio-info">
                  <h4>Gastronotes</h4>
                  <p>a full stack web app</p>
                  <div class="portfolio-links">
                    <a href="https://github.com/elenachurilova/gastronotes" data-gall="portfolioGallery" class="venobox" title="Source Code"><i class='bx bxl-github' ></i></a>
                  </div>
                </div>
                <img src="static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-8 col-md-6 col-12 portfolio-description">
                <p class="title">Gastronotes</p>
                <p class="short-description">a web app to organize your favorite cooking recipes</p>
                <p class="long-description">
                  <ul>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>For this project, I developed a <b>PostgreSQL</b> database and built a <b>Flask</b> server with <b>Python</b>. Operations on the server side are linked to a CRUD file that performs all interactions between the DB and the server. The front-end is built with <b>JavaScript</b> and <b>jQuery</b>, where click events on buttons trigger an <b>AJAX</b> request back to the server. Server talks to the database using <b>SQLAlchemy ORM</b> and responds in <b>JSON</b>. JS dynamically renders <b>HTML</b> into templates. UI is implemented with <b>CSS</b> and <b>Bootstrap</b>.</li>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>The most fun feature I worked on here was developing and implementing a <b>web scraping</b> tool for "importing" the text of a recipe just by pasting a link to it. I used the Beautiful Soup library for searching for certain HTML tags and "scraping" the inner HTML from those. The problem I faced here was that different cooking websites use different nametags for their HTML templates so I had to create a web-scraping tool for every web-site I would want my users to copy their recipes from. It sounded like a time-consuming and inefficient task so I opted-in for an open-source API-like library that supported 100+ websites for scraping. </li>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>Other features include searching for a recipe, recipe import from URL (web-scraping), create/edit a recipe on the fly, delete a recipe.</li>
                  </ul>
               </p>
              </div>
            </div>
          </div>
          <!-- End of Gastronotes  -->

          <!-- ======= Guacamole  ======= -->
          <div class="col-lg-12 col-md-12 portfolio-item filter-stateless">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-12 portfolio-description">
                <p class="title">Guac-A-Mole</p>
                <p class="short-description">a modern twist on the old game</p>
                <p class="long-description">
                  <ul>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>I used this project as an opportunity to learn functional components of <b>React.js</b>, as opposed to class components, as well as hooks, like useState and useEffect.</li>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>The game uses a Canvas() element to render an image of a cutting board with an Image() constructor for rendering an avocado (a mole) on it. useEffect with setInterval() method is used to display images of avocados with delays (1000 ms) and then re-render the component again to display an avocado in the next randomly-picked position. useState is utilized for the state of the game, lives count, and scores. When a user clicks on an avocado, the click is registered and checked whether its position was within the range of an avocado image (100 x 100 pixels). If yes, useState increments the score, and an image of a flash is rendered, if not, useState decreases the number of lives by one. When the number of lives comes to 0, a new component is rendered on the page (GameOver)</li>
                  </ul>
               </p>
              </div>
              <div class="col-lg-4 col-md-6 col-12 portfolio-wrap">
                <div class="portfolio-info">
                  <h4>Guac-A-Mole</h4>
                  <p>front-end game</p>
                  <div class="portfolio-links">
                    <a href="https://github.com/elenachurilova/guacamole_game" data-gall="portfolioGallery" class="venobox" title="Source Code"><i class='bx bxl-github' ></i></a>
                    <a href="https://elenachurilova.github.io/guacamole_game/" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Open"><i class="bx bx-link"></i></a>
                  </div>
                </div>
                <img src="static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <!-- End of Guacamole -->

          <!-- ======= Crime Research ======= -->
          <div class="col-lg-12 col-md-12 portfolio-item filter-data">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 portfolio-wrap">
                <div class="portfolio-info">
                  <h4>Crime Files</h4>
                  <p>data analysis</p>
                  <div class="portfolio-links">
                    <a href="https://public.tableau.com/profile/elechu#!/vizhome/ElenaChurilova-AN43-Project3-USAHomicideCasefiles/STORY" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Open"><i class="bx bx-link"></i></a>
                  </div>
                </div>
                <img src="static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-8 col-md-6 col-12 portfolio-description">
                <p class="title">CRIME FILES</p>
                <p class="short-description">a comprehensive data analysis on homicide rates in the United States</p>
                <p class="long-description">
                  <ul>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>For this project I used FBA's dataset of homicides that happened in the US between 1974 and 2017 and used <b>Tableau</b> as the main tool for data analysis and visualization.</li>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>I was curious to see if there are any underlying factors to gun violence which is actively discussed in the news and social media in the United States. My strategy was to find areas of focus so that crime preventing efforts could be used effectively. I looked at the overall time trends in the country, the number of cases per metropolitan area, and solvability rates. That gave me certain areas with higher numbers of cases and/or low solvability levels. I then started looking into the details like circumstances, victim-offender and weapons used details. This gave me an idea of what population groups are the most vulnerable and under what circumstances. Lastly, I looked at firearm and non-firearm related crimes comparison.</li>
                    <li class="long-description-item"><i class="icofont-rounded-right"></i>As I was trying to find areas of focus, I discovered several interesting facts. For example, females are more likely to be victims of an intimate partner or a family member, with males as perpetrators (over 50% in 2017). Males, on the other hand, are more likely to be a victim of a stranger or an acquaintance, and less likely of a partner or a family member (less than 4% in 2017). </li>
                  </ul>
               </p>
              </div>
            </div>
          </div><!-- End of Crime Research -->
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Elena Churilova</h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/elenachurilova/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/elenachurilova" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://medium.com/@ellena.churilova" class="medium"><i class="bx bxl-medium"></i></a>
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>